/*small screen */
.container {
    color: black;
    background-color: aqua;
    padding: 1rem;
}

.navbar {
    display: flex;
    flex-direction: column; /* penempatan konten secara column  */
}
.navbar__brand{
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.navbar__list{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.navbar__item{
    margin-bottom: 1rem;
}
.navbar__item:hover{
    color:blanchedalmond;
}

@media(min-width:768px){
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navbar__brand{
        margin-bottom: 0;
    }
    .navbar__list{
        flex-direction: row;
    }
    .navbar__item{
        margin: 0 1rem;
    }
}
@media(min-width:992px){
    
}